.categoryTitle{ margin-top: 50px; margin-bottom: 30px; padding-bottom: 10px; border-bottom: solid 1px #dfdfdf;}
.categoryTitle h3{ color: #e31e25; font-size: 20px; font-weight: bold;}
.vewAll{ color: #000; text-align: right;}