.custCarousel{ margin-top: 0px;}

.custCard{ padding: 30px;}
.custCardText{font-size: 18px;}
.author{ text-align: right; font-size: 18px; font-weight: 700;}
.custCardFooter{ background: none; padding-top: 15px;} 


.custCarousel{ margin-top: 0px;}








@media only screen and (min-device-width:320px) and (max-device-width:767px){
    .custCardText{font-size: 16px;}
    .author{text-align: left; margin-top: 15px; font-size: 16px;}

}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:portrait){

}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:landscape){

}



@media only screen and (min-device-width:768px) and (max-device-width:1024px){
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){

}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){

}
