@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body{ color: #1A4969 !important; font-family: 'Lato', sans-serif !important; }


.card{border-radius: 10px;}

.logo {/*background:url(../public/images/logo.png) no-repeat top center; background-size: cover;*/ width: 288px; height:34px;}
.logo img{ height: 34px; max-width: 100%;}


.mainHeader{ position: fixed; top: 0; margin: 0 auto;  width: 100%; background: #fff;  z-index: 1;}

.mainHeaderActive{ position: fixed; top: 0; margin: 0 auto;  width: 100%; background: #fff; z-index: 1; box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);}

.navbar{ padding-top: 0.8rem; padding-bottom: 0.8rem ;}
#main-nav .nav-link { color: #1A4969; font-weight: 500; padding: 0.3rem 0.8rem;}
#main-nav .nav-link:hover{ color: #00ABBD;}
/*#main-nav .nav-link.active {
  color: #00ABBD !important;
}
*/
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: #00ABBD !important;
}

/* #main-nav .dropdown-menu{ padding-left: 10px; padding-right: 10px; } */
#main-nav .dropdown-toggle::after, #main-nav .nav-link .fa{ color: #000;}
#main-nav .dropdown-item{color: #1A4969; padding-left: 0px;}
#main-nav .dropdown-item:hover{ background: none; color: #000;}
#main-nav .dropdown-item.active, #main-nav .dropdown-item:active {
  text-decoration: none;
}


#main-nav .dropdown-menu{ margin-top: 10px; padding: 0px; border: none; min-width: 580px; left: -290px; box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.1) !important;}

.dropNavBoxLeft{padding:30px 15px; font-size: 15px; color: #304C64;}
.dropNavBoxLeft .bpara{font-weight: 900; margin-bottom: 8px; margin-top: 15px;}

.dropNavBoxRight{ padding:15px 15px;}
.dropNavBoxRight .navTitle{font-weight: 900; margin-bottom: 8px; color: #00ABBD !important;}





.page{ min-height: 600px;}



.vMid {
  margin: 0;  left: 0; right: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




/*********** Heading Styles ************/
.bannerHeading{font-size: 45px; font-weight: 900;}
.headingBold{ font-size: 38px; font-weight: 900;}
.headingBold2{ font-size: 38px; font-weight: 700;}
.headingLight{font-size: 30px; font-weight: 400;}
.leadpara{ font-size: 20px;}
.leadparaBorderd{
    padding-left: 20px; font-size: 20px;
    border-width: 2px;
    border-image: linear-gradient(180deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
    border-image-slice: 9;
    border-style: solid;
    border-right: none; border-top: none; border-bottom: none;
}

.leadparaBorderdNo{border-left: 0px; padding-left: 0px;}

.learnMore{ color: #00ABBD; text-decoration: none; font-weight: 600;}
.learnMore a{ color: #00ABBD; text-decoration: none;}





/*********** Buttons ************/
.btn{border-radius: 20px !important;}

.btn-primary{
  border: solid 1px transparent !important; text-transform: uppercase; border-radius: 20px; padding: 0.5rem 1.5rem !important; font-weight: 600 !important; 
  
  background: linear-gradient(86.29deg, #F9914C 19.78%, #F76459 40.62%, #F63966 58.48%, #007AE8 99.15%);
  background: -moz-linear-gradient(86.29deg, #F9914C 19.78%, #F76459 40.62%, #F63966 58.48%, #007AE8 99.15%);
  background: -webkit-linear-gradient(86.29deg, #F9914C 19.78%, #F76459 40.62%, #F63966 58.48%, #007AE8 99.15%);
  background: -o-linear-gradient(86.29deg, #F9914C 19.78%, #F76459 40.62%, #F63966 58.48%, #007AE8 99.15%);
  -ms-background: linear-gradient(86.29deg, #F9914C 19.78%, #F76459 40.62%, #F63966 58.48%, #007AE8 99.15%);
}
 .btn-primary:hover{ background:#fff !important; color:#1A4969 !important; border: solid 1px #F63966 !important;
  /*border-width: 2px; 
  border-image: linear-gradient(180deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
  border-image-slice: 9;
  border-style: solid;*/
}

.btn-contact, .btn-login{ border-radius: 20px; font-size: 12px !important; font-weight: 600 !important; padding: 0.375rem 1.7rem !important;}
.btn-login{ background-color: #fff; color:#00ABBD; border-color: #00ABBD; }
/*.btn-login:hover, .btn-login:focus{background-color: #00ABBD; color: #fff;}*/

.btn-contact{ margin-left: 8px; background-color: #00ABBD !important; color: #fff !important; }
.btn-contact:hover, .btn-contact:focus{ background: #0dcaf0 !important; color:#1a4969 !important;}

.btnLight{padding: 0.5rem 1.5rem !important; color: #00ABBD !important; font-weight: 600 !important;}
.btnLight:hover, .btnLight:focus{ color: #1a4969;}





/*********** sections BG ************/
.sectionBg-White{background-color: #fff;}
.sectionBg-Blue{background-color: #1A4969;}
.sectionBg-IrisBlue{background-color: #00ABBD;}
.sectionBg-SkyBlue{background-color: #e9f6ff;}
.sectionBg-SkyBlue2{background-color: #F6FCFF;}
.sectionBg-Gray{background-color: #82a4bb;}
.sectionBg-Gray2{background-color: #E8F1F7;}
.sectionBg-Green{background-color: #017038;}
.sectionBg-Gradient{
  background: linear-gradient(30deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
  -moz-background: linear-gradient(30deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
  -webkit-background: linear-gradient(30deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
  -o-background: linear-gradient(30deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
  -ms-background: linear-gradient(30deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
}





/*********** list ************/
ul.list {margin-left: 30px; list-style-type: none;}
ul.list li{ margin-bottom: 8px;}
ul.list li::before{   padding-right: 10px; color: #00ABBD; margin-bottom: 4px; display: inline-block; position: absolute; left: -30px;
  font-family: 'Line Awesome Free'; content: "\f058";
}






/*********** carousels ************/
.custCarousel .carousel-control-prev, .custCarousel .carousel-control-next{width: auto;}
.custCarousel .carousel-control-next {right: -40px;}
.custCarousel .carousel-control-prev { left: -40px;}


.bannerCarousel {position: relative; height: 550px;}
.bannerCarousel .carousel-indicators{bottom: -50px;}
.bannerCarousel .carousel-indicators [data-bs-target] {
  background-color: #AECDE1;
}
/* .bannerCarousel .carousel-indicators.active { color: red !important;} */






/*********** Accordians ************/
.accordion-button{ font-family: 'Lato', sans-serif  !important; font-size: 18px  !important; font-weight: 900  !important; color: #1A4969  !important; border-radius: 10px  !important; }
.accordion-button img{margin-right: 8px  !important;}

.accordion-item:first-of-type .accordion-button{border-top-left-radius:10px  !important; border-top-right-radius:10px !important;}
.accordion-item:last-of-type .accordion-button.collapsed{border-bottom-right-radius:10px !important; border-bottom-left-radius:10px !important;}

.accordion-item:first-of-type { border-top-left-radius: 10px  !important; border-top-right-radius: 10px  !important;}
.accordion-item:last-of-type { border-bottom-right-radius: 10px  !important; border-bottom-left-radius: 10px  !important;}

.accordion-item{margin-bottom: 15px  !important;  border-radius: 10px  !important; border: none !important;
  /*box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);*/
}

.accordion-body{font-size: 15px  !important;}

.accordion-button:not(.collapsed){ background: none  !important; color: #1A4969  !important; box-shadow: none  !important;}

/* .accordion-collapse.show{box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.1);} */



.nav-tabs{border-bottom: solid 3px transparent !important;}

.nav-tabs .nav-link{ border: none !important; font-size: 20px !important; color: #1A4969 !important; font-weight: 500 !important;}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{ color:#00ABBD !important; font-weight: 700 !important; border-bottom: solid 3px #00ABBD !important;}

.tab-content{ padding: 50px 15px 15px 15px !important;}

.tabPaging{ text-align: right; position: absolute; right: 30px; font-size: 20px;}
.tabPaging .las{ font-size: 22px; color:#00ABBD; vertical-align: middle;}




/***********PlaceHolder************/
::-webkit-input-placeholder { color: #ccc !important;}
:-ms-input-placeholder { color: #ccc !important;}
::placeholder {color: #ccc !important;}


/***********Social Icons************/
.socilaIcons{font-size:16px !important; background:#82A4BB; color:#fff; width:20px; height:20px; line-height:20px !important; text-align:center; }
.socilaIcons:hover{background:#000000;color:#fff;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}

/* .fa-facebook{}
.fa-facebook:hover{ background:#3e5f9d; color:#fff;}

.fa-twitter{}
.fa-twitter:hover{ background:#5bb6f7; color:#fff;}

.fa-linkedin{}
.fa-linkedin:hover{ background:#0f7eba; color:#fff;}

.fa-youtube{}
.fa-youtube:hover{ background:#e65147; color:#fff;}

.fa-instagram{}
.fa-instagram:hover{ background:#fe734c; color:#fff;}

.fa-whatsapp{}
.fa-whatsapp:hover{ background:#075E54; color:#fff;} */


@-webkit-keyframes toRightFromLeft{49%{-webkit-transform:translate(100%);}
50%{opacity:0;-webkit-transform:translate(-100%);}
51%{opacity:1;}
}
@-moz-keyframes toRightFromLeft{49%{-moz-transform:translate(100%);}
50%{opacity:0;-moz-transform:translate(-100%);}
51%{opacity:1;}
}
@keyframes toRightFromLeft{49%{transform:translate(100%);}
50%{opacity:0;transform:translate(-100%);}
51%{opacity:1;}
}



@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}


#hmHealthPackeges .carousel-control-prev, #hmHealthPackeges .carousel-control-next{align-items: start; top: -42px; width: auto; height: 40px;}
#hmHealthPackeges .carousel-control-prev{ left: auto; right: 40px;}
#hmHealthPackeges .carousel-control-next { right: 0px;}

#bannerCarousel .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000; height: 8px; width: 18px;
}
#bannerCarousel button.active [data-bs-target] {
  background-color: #e31e25 !important;
}



.swal2-styled.swal2-confirm{ background-color: #e31e25 !important;}
.swal2-title{font-size: 1.55em !important;}










/**********************box shadow and gredient Fill Color*********************/

.boxShadow{
  box-shadow:0px 0px 15px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow:0px 0px 15px 5px rgba(0,0,0,0.1);
  }
  
  .gradient{
  background: #e46f11; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #e46f11 0%, #faa71c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #e46f11 0%,#faa71c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #e46f11 0%,#faa71c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e46f11', endColorstr='#faa71c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  










@media only screen and (min-device-width:320px) and (max-device-width:767px){
  .logo { background-size: contain; width: 240px;  height: 34px;}
  .navbar-toggler{padding: 0px !important; border: none !important;}

  .navbar-expand .navbar-nav { flex-direction: column !important; width: 100% !important;}
  #main-nav .nav-link { display: block; padding: 0.8rem 1rem;}
  #main-nav .nav-link .fa { width: 20px; text-align: left; margin-right: 10px; font-size: 18px;}
  #main-nav .nav-link:first-child .fa{ width: 30px;}
  #main-nav .nav-link:last-child .fa{ margin-right: 0px; }
  #main-nav .dropdown-menu{position: relative;}
  #main-nav .dropdown-toggle::after { float: right;  margin-top: 8px;}
  .offcanvas{overflow: scroll;}

  #main-nav .dropdown-menu{ min-width: 280px; left: 0;}

  .btn-contact{ margin-left: 0px; margin-top: 15px;}
  .btn-contact, .btn-login{padding: 0.7rem 1.7rem !important;}

  .custCarousel .carousel-control-prev { left: -10px;}
  .custCarousel .carousel-control-next {right: -10px;}

.bannerHeading{font-size: 36px; font-weight: 900;}
.headingBold{ font-size: 28px; font-weight: 900;}
.headingBold2{ font-size: 28px; font-weight: 700;}
.headingLight{font-size: 24px; font-weight: 400;}
.leadpara{ font-size: 18px;}
.leadparaBorderd{font-size: 18px;}



}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:portrait){

  .bannerCarousel {height: 180px;}
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:landscape){
  .bannerCarousel {height: 250px;}
}



@media only screen and (min-device-width:768px) and (max-device-width:1024px){
 .bannerHeading{font-size: 36px; font-weight: 900;}
.headingBold{ font-size: 28px; font-weight: 900;}
.headingBold2{ font-size: 28px; font-weight: 700;}
.headingLight{font-size: 24px; font-weight: 400;}
.leadpara{ font-size: 18px;}
.leadparaBorderd{font-size: 18px;}
  

}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
  .logo { background-size: contain; width: 240px;  height: 34px;}
  .navbar-toggler{padding: 0px; border: none;}

  .navbar-expand .navbar-nav { flex-direction: column; width: 100%;}
  #main-nav .nav-link { display: block; padding: 0.8rem 1rem;}
  #main-nav .nav-link .fa { width: 20px; text-align: left; margin-right: 10px; font-size: 18px;}
  #main-nav .nav-link:first-child .fa{ width: 30px;}
  #main-nav .nav-link:last-child .fa{ margin-right: 0px; }
  #main-nav .dropdown-menu{position: relative;}
  #main-nav .dropdown-toggle::after { float: right;  margin-top: 8px;}
  .offcanvas{overflow: scroll;}

  #main-nav .dropdown-menu{ min-width: 280px; left: 0;}

  .btn-contact{ margin-left: 0px; margin-top: 15px;}

  .bannerCarousel {height: 330px;}

}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
  .logo { background-size: contain; width: 240px;  height: 34px;}
  
  #main-nav .nav-link{ font-size: 13px; padding-left: 6px; padding-right: 6px;}

  .offcanvas{overflow: scroll;}
  .offcanvas-backdrop.show { opacity: 0; display: none;}


  .btn-contact, .btn-login{ padding:3px 8px;}

  .bannerCarousel {height: 450px;}


}






