
.homeBookDemo{ margin-top:30px; text-align: center; }
.homeBookDemo h1{ font-weight: 900; font-size:2.8rem;}
.homeBookDemo .leadpara{font-size: 1.25rem;}



.leadingCompanies{color: #304C64; min-height: 613px; margin-top: -200px; text-align: center;}
.leadingCompanies h2{ margin-top: 150px;}
.leadingCompanies li:not(:last-child) { margin-right: 2.2rem;}




.explorePlateform{ margin-top: 0px;}
/* .explorePlateform .subHeading{font-weight: 900; margin-bottom: 25px;}
.explorePlateform .leadpara{font-size: 20px;} */

.plateformCard{border: none;}
.plateformCardTitle{font-size: 20px; font-weight: 900; margin-top: 10px;}
.plateformCardText{ font-size: 18px;}




.solutions{ margin-top: 0px;}


.solutionsCard{ min-height: 330px;}


/* .btnSolutions{padding: 0.5rem 1.5rem; color: #00ABBD; font-weight: 600;} */



.customers{ margin-top: 0px;}

/* .custCarousel{ margin-top: 0px;}

.custCard{ padding: 30px;}
.author{ text-align: right; font-size: 18px; font-weight: 700;}
.custCardFooter{ background: none; padding-top: 15px;} */





.epm{ margin-top: 0px;}

.roadMap{ color: #fff;}
.roadMap .leadpara{ padding-left: 20px; border-left: solid 2px #fff; font-size: 20px;}


.roadMapSub{ margin-top: 0px;}

.roadMapSub .leadpara{
    border-width: 2px;
    border-image: linear-gradient(180deg, #FABE3E 0%, #F63966 36%, #007AE8 100%);
    border-image-slice: 9;
    border-style: solid;
    border-right: none; border-top: none; border-bottom: none;
}










@media only screen and (min-device-width:320px) and (max-device-width:767px){

.homeBookDemo{ margin-top:0; }
.homeBookDemo h1{ font-weight: 900; font-size:35px;}

.leadingCompanies h2{ margin-top: 100px;}

.solutionsCard{ min-height: auto;}

.plateformCardTitle{font-size: 18px;}
.plateformCardText{ font-size: 16px;}

    
 }
  
 @media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:portrait){

 }
  
 @media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:landscape){

 }
  
 
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px){

.homeBookDemo{ margin-top:0; }
.homeBookDemo h1{ font-weight: 900; font-size:35px;}

.leadingCompanies h2{ margin-top: 100px;}

.solutionsCard{ min-height: auto;}

.plateformCardTitle{font-size: 18px;}
.plateformCardText{ font-size: 16px;}

 }
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
   
 }
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
    
 }
  