
.platformBanner{ margin-top: 0px; }

.expCard{ margin-bottom: 25px; min-height: 270px; padding-top: 30px; border: none; border-radius: 0px; box-shadow: none; background: none;}
.expCardTitle{font-size: 20px; font-weight: 900; margin-top: 10px;}
.expCardText{ font-size: 16px;}
.expCardFooter{ font-size: 16px; font-weight: 900; color:#00ABBD; background: none; border-top: none; padding-top: 10px; padding-bottom: 30px;}
.expCardFooter a{color:#00ABBD; text-decoration: none;}

.foundattionRw{ margin-top: 90px;}
.foundCard{ padding:0 15px; margin-bottom: 25px; min-height: 510px; padding-top: 30px; border: none; border-radius: 10px; box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.1);}
.foundCardTitle{font-size: 20px; font-weight: 900; margin-top: 10px;}
.foundCardSubTitle{font-size: 18px; font-weight: 700; margin-top: 10px; margin-bottom: 15px;}
.foundCardText{ font-size: 16px;}
.foundCardFooter{ font-size: 16px; font-weight: 900; color:#00ABBD; background: none; border-top: none; padding-top: 10px; padding-bottom: 30px; text-align: right;}
.foundCardFooter a{color:#00ABBD; text-decoration: none;}

.nextgenText{ padding: 30px 0 30px 60px;}


.leArrow{text-align: center; color: #00ABBD; font-size: 45px; font-weight: 900;}



ul.list {margin-left: 0px; list-style-type: none; position: relative;}
 ul.list li{ margin-bottom: 15px;}
 ul.list li::before{ font-family: 'Line Awesome Free'; content: "\f058"; padding-right: 10px; color: #00ABBD; margin-bottom: 4px; display: inline-block; position: absolute; left: 0px; font-size: 20px;}








 @media only screen and (min-device-width:320px) and (max-device-width:767px){
    .foundCard{ min-height: auto;}

    .nextgenText{ padding: 30px;}

    .leArrow{ /*transform: rotate(90deg);*/ font-size: 32px; margin-top: -10px;}
    
 }
  
 @media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:portrait){

 }
  
 @media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:landscape){

 }
  
 
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
 }
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
    .foundCard{ min-height: auto;}
 
 }
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
    
 }