


.smStrip{ padding-top: 40px; padding-bottom: 40px;}

/* .serviceBanner{ padding-top: 0px; padding-bottom: 0; } */

.serviceBanner{ padding-top: 0px; padding-bottom: 0;  }

.serviceBannerImage{ height: 520px; background: #F6FCFF url(../public/images/banner-services.png) no-repeat center; background-size: cover;}

.bannerContainer{ padding: 0;}

.bannerText{ position: relative; /*margin-top: 158px;*/}


.fullBanner{ width: 100%;}





.card{ padding:30px; border: none; border-radius: 10px; margin-top: 50px;
   box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2); 
}
.cardTitle{font-size: 20px; font-weight: 900; margin-top: 10px; margin-bottom: 8px; color: #304C64;}
.cardSubTitle{font-size: 18px; font-weight: 400; margin-top: 10px; color: #1A4969;}
.cardText{ font-size: 15px;}
.cardImage{ border-radius: 8px; position: relative; z-index: 1;}



.expCard{ margin-bottom: 15px; min-height: 200px; padding-top: 30px; border: none; border-radius: 0px; box-shadow: none; background: none;}
.expCardTitle{font-size: 20px; font-weight: 900; margin-top: 10px; }
.expCardText{ font-size: 18px;}
.expCardFooter{ font-size: 16px; font-weight: 900; color:#00ABBD; background: none; border-top: none; padding-top: 10px; padding-bottom: 30px;}
.expCardFooter a{color:#00ABBD; text-decoration: none;}


.powerCard{ border: none; background: none;}
.powerCardImage{ padding-top: 30px; padding-bottom: 30px;  margin-right: -50px; margin-left: -15px;}
.powerCardImage img{border-radius: 10px;  position: relative; z-index: 1;}
.powerCardDetails{ padding: 30px 30px 30px 120px; margin-left: -50px; margin-right: -15px; border-radius: 10px; background: #fff; min-height: 460px; position: relative; box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);  }
.powerCardTitle{ font-size: 38px; color: #304C64; font-weight: 900;}
.powerCardText{ font-size: 20px;}
.powerCardBody{ position: relative; }





.powerCardRight{ border: none; background: none;}
.powerCardRightImage{ padding-top: 30px; padding-bottom: 30px;  margin-left: -50px;  margin-right: -15px;}
.powerCardRightImage img{border-radius: 10px;  position: relative; z-index: 1;}
.powerCardRightDetails{ padding: 30px 120px 30px 50px; margin-right: -50px; margin-left: -15px; border-radius: 10px;  background: #fff; min-height: 460px; position: relative; box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);}

.powerCardRightTitle{ font-size: 38px; color: #304C64; font-weight: 900;}
.powerCardRightText{ font-size: 20px;}

.powerCardRightBody{ position: relative;}


.vMid {
   margin: 0; padding-right: 100px; padding-left: 60px;  width: auto;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }

.vMidRight {
   margin: 0; padding-right: 180px;  padding-left: 60px;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }




 ul.list {margin-left: 0px; list-style-type: none; position: relative;}
 ul.list li{ margin-bottom: 15px;}
 ul.list li::before{ font-family: 'Line Awesome Free'; content: "\f058"; padding-right: 10px; color: #00ABBD; margin-bottom: 4px; display: inline-block; position: absolute; left: 0px;}



  

 @media only screen and (min-device-width:320px) and (max-device-width:767px){


   .powerCardImage{ margin-left: 15px; margin-right: 15px; text-align: center; padding-top: 0px;}
   .powerCardDetails{ margin-left: -15px; margin-right: -15px; padding: 50px 30px 30px 30px; margin-top: -60px; min-height: auto;}

   .powerCardRightImage{  margin-left: 15px; margin-right: 15px;  text-align: center; padding-top: 0px;}
   .powerCardRightDetails{ margin-left: -15px; margin-right: -15px; padding: 50px 30px 30px 30px; margin-top:-60px; min-height: auto;}


    .powerCardTitle, .powerCardRightTitle{ font-size: 28px;}
    .powerCardText, .powerCardRightText{ font-size: 18px; }

    .vMid, .vMidRight{ position: relative; padding-right: 0px; padding-left: 0px; transform: translateY(0%);}

    .bannerText{ padding: 30px 15px;}
    .serviceBannerImage{ height: 350px;}

 }
  
 @media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:portrait){

 }
  
 @media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation:landscape){

 }
  
 
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
 }
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
   .powerCardImage{ margin-left: 15px; margin-right: 15px; text-align: center; padding-top: 0px;}
   .powerCardDetails{ margin-left: 0px; margin-right: 0px; padding: 50px 30px 30px 30px; margin-top: -60px; min-height: auto;}

   .powerCardRightImage{  margin-left: 15px; margin-right: 15px;  text-align: center; padding-top: 0px;}
   .powerCardRightDetails{ margin-left: 0px; margin-right: 0px; padding: 50px 30px 30px 30px; margin-top:-60px; min-height: auto;}

   .powerCardTitle, .powerCardRightTitle{ font-size: 28px;}
   .powerCardText, .powerCardRightText{ font-size: 18px; }

   .vMid, .vMidRight{ position: relative; padding-right: 0px; transform: translateY(0%);}

   /* .serviceBanner{ padding-top: 30px; padding-bottom: 30px; height: 700px;}
   .bannerText{ margin-top:420px;} */
   .bannerText{ padding: 30px;}
    .serviceBannerImage{ height: 350px;}
 }
  
 @media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){


   /* .serviceBanner{ padding-top: 30px; padding-bottom: 30px; height:800px;}
   .bannerText{ margin-top:550px; width: 100%;}
   .colBanner{ width: 100%;} */

   .vMid, .vMidRight{ position: relative; padding-left: 0px; padding-right: 0px; transform: translateY(0%);}
    
   .powerCardDetails, .powerCardRightDetails{ min-height: auto;}

   .bannerText{ margin-left: -33%; margin-top: 20px; }
   .serviceBannerImage{ height: 350px;}

 }
  